*target*
*.jar
*.war
*.ear
*.class
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.idea/
*.iml
src/test/